<div class="relative h-full w-full overflow-y-auto bg-white dark:bg-black bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] dark:bg-[linear-gradient(to_right,#1f1f1f_1px,transparent_1px),linear-gradient(to_bottom,#1f1f1f_1px,transparent_1px)]">

  <div class="absolute inset-0 -z-10 bg-[radial-gradient(circle_500px_at_50%_200px,#C9EBFF,transparent)] dark:bg-[radial-gradient(circle_500px_at_50%_200px,#0c2c49,transparent)] pointer-events-none"></div>

  <div class="w-full max-w-2xl mx-auto flex flex-col items-center py-12 px-4">
    <h1 class="font-bold text-4xl text-gray-900 dark:text-gray-50"><%= t("feed.title") %></h1>
    <p class="mt-4 text-xl text-gray-700 dark:text-gray-300"><%= t("feed.description") %></p>

    <div class="mt-8">
      <%= link_to t("feed.new_post"), new_post_path, class: "bg-black bg-opacity-70 text-white p-4 rounded-lg w-48 text-center hover:bg-opacity-90 transition duration-200" %>
    </div>

    <div class="w-full grid gap-8 mt-8">
      <%= render partial: "post", collection: @posts %>
    </div>
  </div>
</div>