@import "actiontext.css";
@import "trix";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

[data-dropdown-target="menu"] .relative:hover .absolute {
  display: block;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.sign-out-link {
  color: #4b5563; 
  transition: color 0.2s ease-in-out;
  text-align: left;

  &:hover {
    color: #dc2626; 
  }
}

.dropdown-option {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.home-link, .network-link, .jobs-link, .messages-link {
  position: relative;
  text-decoration: none;

  // Underline pseudo-element
  &::after {
    content: "";
    position: absolute;
    bottom: -10px; 
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50%;
    height: 2px; 
    background-color: white; 
    opacity: 0;
    transition: opacity 0.3s ease, width 0.3s ease;
  }

  // Show underline only when active
  &.active-link::after {
    opacity: 1;
    width: 100%; 
  }
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.search-icon {
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.search-label {
  transition: opacity 0.3s ease;
}

.search-input {
  width: 0;
  opacity: 0;
  padding: 0;
  height: 40px;
  background-color: #2d3748;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  transition: width 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
  outline: none; 
}

.search-input:focus {
  outline: none; 
  box-shadow: none;
}

.search-container.expanded .search-input {
  width: 250px; 
  opacity: 1;
  padding: 0 10px; 
}

.search-container.expanded .search-label {
  display: none; 
}